# Optional
# ORIGIN="xxx"
# DATABASE_PATH="xxx"
# DATABASE_MIGRATIONS_PATH="xxx"

# Required: Auth
AUTH_SECRET="xxx"

# Required: Local execution
EXEC_ENVIRONMENT="local"
EXEC_LOCAL_STORAGE_PATH="./STORAGE"