# PUBLIC
# --------

# App
ORIGIN="https://localhost:5173"
API_PREFIX="/api/v1"

# PRIVATE
# --------

# Auth
AUTH_SECRET="xxx"

# DB
DATABASE_PATH="file:local.db"
DATABASE_MIGRATIONS_PATH="src/features/db/migrations"

# Execution (local)
RUNNER_MODE="local"
RUNNER_PATH="./RUNNER"

# Execution (docker)
# RUNNER_MODE="docker"

# Storage (local)
STORAGE_MODE="local"
STORAGE_PATH="./STORAGE"

# Storage (s3)
# STORAGE_MODE="s3"